p:not(:last-child),
.entry-content p:not(:last-child) {
  margin-bottom: 20px !important;
}

a:focus {
  outline: none;
}

.text-align-justify {
  text-align: justify;
}

.line-height-reset {
  line-height: 0;
}

body .fl-post-carousel-grid .fl-post-carousel-title a {
  font-size: 20px;
}

.address-with-icon .fl-icon {
  padding-top: 5px;
  vertical-align: top;
}