.ast-site-identity {
  align-items: center;
  display: flex;
}

.psixo-logo-text {
  color: #000000;
  display: inline-block;
  font-weight: 700;
  padding-left: 10px;

  &__name,
  &__job {
    line-height: 1.2em;
  }
}